body {
  font-family: @base-sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 72px;
  margin: 0;
}

h2 {
  font-size: 22px;
  line-height: 22px;
  margin: 10px 0;
}

h3 {
  font-size: 42px;
  line-height: 52px;
  margin: 0;
}

p {
  font-size: 22px;
  line-height: 22px;
  margin: 20px 0;
}

/**
 * Colors
 */
.text-red {
  color: @dark-red;
}

/**
 * Aligns
 */
.text-centered {
  text-align: center;
}
