footer
  div.grid
    div.grid-col
      ul.links
        li.link
          a(href="/") Home
        li.link
          a(href="/book") Book
        li.link
          a(href="/philanthropy") Philanthropy
        li.link
          a(href="/speaking") Speaking
        li.link
          a(href="/about") About
        li.link
          a(href="mailto:contact@jayforeman.net") Contact
    div.grid-col
      h2.text-red About
      p.text-red
        | Jay Foreman is an award-winning NFL veteran
        | who wrote this book to share his story...
    div.grid-col
      p.text-red &copy; Jay Foreman 2017
