doctype
html
  head
    title Jay Foreman
    meta(charset="UTF-8")
    meta(name="description" content="Author of Iron Will")
    meta(name="author" content="Jay Foreman")
    link(rel="stylesheet" href="./main.css")
    script(src="https://use.typekit.net/igk4cne.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
  body
    != yield
