section.header
  div.grid.nav-holder.nav-holder-tall
    div.nav
      div.nav-left
        a.logo(href="/") Jay Foreman
      div.nav-right
        ul.nav-links
          li.nav-link
            a(href="/") Home
          li.nav-link
            a(href="/book") Book
          li.nav-link
            a(href="/podcast") Podcast
          li.nav-link
            a(href="/philanthropy") Philanthropy
          li.nav-link
            a(href="/speaking") Speaking
          li.nav-link
            a(href="/about") About
          li.nav-link
            a(href="/contact") Contact
  div
    h1 About Jay

section.content
  div.grid
    div.grid-col
      p.thick
        | Jay Foreman, originally from Minneapolis, MN, is a former NFL player
        | who played college football for the University of Nebraska Cornhuskers.
        | Jay is also the son of Minnesota Viking great and five time pro bowler, Chuck Foreman.
      p.thick
        | Jay played football for the University of Nebraska from1994-1998,
        | helping the team win 3 National Championships. Jay was an All-Big 12
        | Conference Selection for Nebraska and was a four-year letter winner.
        | He served as a starting linebacker during the 1995 and 1997 national
        | championship seasons. He ranks 14th on the Huskers’ all-time tackles
        | chart with 233 tackles and was the team captain his senior year.
        | In 1998, Jay was a semi-finalist for the Dick Butkus award.
      p.thick
        | Jay went on to play 9 years in the National Football League (NFL) and
        | made two postseason appearances during his nine year NFL career.
        | He played for the Buffalo Bills, Houston Texans, New York Giants, and
        | San Francisco 49ers in the National Football League. Jay joined the
        | Houston Texans during their first three seasons as a franchise and was
        | named one of the Texan’s team captains and held the title for three
        | years. He achieved five consecutive seasons of over 100 tackles,
        | two of which he recorded over 200 tackles and a grand total of 937 in his career.
      p.thick
        | While playing football at the University of Nebraska, Jay earned a BS
        | degree in Business Administration in 3 ½ years. During his NFL
        | off-seasons, he completed an MBA at Harvard University. During his
        | time in Houston, he began a charitable foundation known as “Foreman
        | Friends,” an organization that assisted abused, underprivileged kids in group-homes.
      p.thick
        | Following his retirement from the NFL, Jay returned to Nebraska and
        | went to work for a Nebraska based financial holding company where he
        | focused on corporate development. During this time, Jay worked in
        | collaboration with the University of Nebraska athletic department, and
        | established an internship program, the purpose of which is to provide
        | athletes with work experience in the areas of sales and marketing while
        | learning about corporate structure and business acumen. The internship
        | opportunities were designed to assist the athletes during their lives
        | after sports. Jay later went on to become an Executive Vice president
        | of an innovative start-up company, that invented, developed and
        | marketed a sports-related medical device.
      p.thick
        | Along with his business success, Mr. Foreman has established himself
        | throughout the country as a professional speaker and sports commentator.
        | Jay has done numerous projects in the sports broadcasting arena in both
        | TV and radio. He has worked for Comcast Sports Network in Houston and
        | does radio broadcasting for ESPN 1480 and 1620 The Zone. His unique
        | background in professional sports as well as business has also
        | provided Jay with numerous opportunities to speak to high schools,
        | colleges, corporations and associations over the years.
      p.thick 
        | In 2013 Jay Foreman founded The Foreman Foundation, a 501c3 non-profit
        | organization, which strives to enhance the lives of people living with
        | diabetes. The Foreman Foundation gives both youth and adults an
        | opportunity to access top notch education and resources to help their
        | fight against diabetes.
      p.thick
        | In 2017, Jay became a published author, releasing his first book,
        | Iron Will, What One Man Needed to Survive the Blessing and the Curse of the NFL.
      p.thick
        | Jay continues to pursue his passion of non-profit work with The Foreman
        | Foundation as well as continuing as a professional speaker to high
        | schools, colleges, corporations and associations across the country.
      p.thick
        | Jay is married to Allison and together they are raising their blended
        | family of 4 children, two daughters Soleil and Ciel and two sons, Logan and Grant.
!= partial("partials/footer")
