section.header
  div.grid.nav-holder.nav-holder-tall
    div.nav
      div.nav-left
        a.logo(href="/") Jay Foreman
      div.nav-right
        ul.nav-links
          li.nav-link
            a(href="/") Home
          li.nav-link
            a(href="/book") Book
          li.nav-link
            a(href="/philanthropy") Philanthropy
          li.nav-link
            a(href="/speaking") Speaking
          li.nav-link
            a(href="/about") About
          li.nav-link
            a(href="/contact") Contact
  div
    h1 Contact

section.content
  div.grid
    div.grid-col
      p.thick
        | Contact Jay for speaking, booking, press releases, and more...
      p
        <br/>
        a.btn.btn-red(href="mailto:contact@jayforeman.net") Email
      p
        <br/>
        strong Phone: (402) 499-5532
      p
        <br/>
        | Want to work one-on-one with Jay to improve your skillset on the field?
        | Visit the 
        a(href="http://foremanfootballacademy.com") Foreman Football Academy.

!= partial("partials/footer")
